body {
  background: url("../../cards/water.jpeg") repeat; }

header {
  opacity: 0.8;
  text-align: center;
  border-style: solid;
  border-radius: 50px 50px 0px 0px;
  background: -webkit-linear-gradient(white, #87d0ed);
  background: -o-linear-gradient(white, #87d0ed);
  background: -moz-linear-gradient(white, #87d0ed);
  background: linear-gradient(white, #87d0ed); }
  header ul {
    padding-left: 0px; }
  header li {
    margin: 0px 6px;
    font-size: 1.25em;
    list-style: none;
    display: inline-block;
    padding: 5px 7px;
    border-radius: 25px;
    background-color: #87d0ed;
    box-shadow: 1px 1px 5px black; }
    header li a {
      text-decoration: none;
      color: black; }

.Subheader {
  opacity: 0.8;
  text-align: center;
  padding: 1px 1px;
  border-style: none solid;
  background: -webkit-linear-gradient(#77bdd9, #87d0ed);
  background: -o-linear-gradient(#77bdd9, #87d0ed);
  background: -moz-linear-gradient(#77bdd9, #87d0ed);
  background: linear-gradient(#77bdd9, #87d0ed); }

.Content {
  opacity: 0.8;
  padding: 1px;
  background: -webkit-linear-gradient(#87d0ed, #77bdd9);
  background: -o-linear-gradient(#87d0ed, #77bdd9);
  background: -moz-linear-gradient(#87d0ed, #77bdd9);
  background: linear-gradient(#87d0ed, #77bdd9);
  border-radius: 0px 0px 50px 50px;
  border-style: none solid solid; }
  .Content .Rules {
    max-width: 1368px;
    margin: 10px auto 0px auto;
    padding: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 33%;
    -webkit-column-count: 3;
    -webkit-column-gap: 33%; }
    .Content .Rules h4 {
      text-align: center; }
    .Content .Rules div {
      text-align: center; }
      .Content .Rules div a {
        color: black; }
  .Content .About {
    width: 50%;
    margin: 0px auto;
    text-align: center; }
  .Content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    padding-bottom: 10px; }

#Hand, #Books, #Interface {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top; }
  #Hand li, #Books li, #Interface li {
    list-style: none;
    display: inline-block;
    text-indent: -2.1875em; }

#Results, #Opponent_Info {
  text-align: center;
  display: inline-block;
  width: 50%;
  vertical-align: top; }

#Opponent_Info ul {
  padding-left: 0px; }
#Opponent_Info li {
  list-style: none; }

.Player_name, .Player_cards, .Player_books {
  font-family: fantasy; }

footer {
  text-align: center; }
  footer a {
    text-decoration: none;
    color: black; }

@media screen and (max-width: 940px) {
  .Content .Rules {
    -moz-column-count: 2;
    -moz-column-gap: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 50%; }
  .Content #Hand, .Content #Books, .Content #Interface {
    width: 50%; }
  .Content #Interface {
    margin: 0px auto;
    display: inline; } }
@media screen and (max-width: 650px) {
  .Content .Rules {
    -moz-column-count: 1;
    -moz-column-gap: 100%;
    -webkit-column-count: 1;
    -webkit-column-gap: 100%; }
  .Content #Hand, .Content #Books, .Content #Interface, .Content #Results, .Content #Opponent_Info {
    width: 100%; } }
