/*Author: Jeremy Walton
Date Created: 1/6/14*/

body {
	background-image:url('cards/water.jpeg');
	background-repeat:repeat;
}

header {
	border-style: solid;
	text-align: center;
	background: -webkit-linear-gradient(white, #87D0ED); /* For Safari */
	background: -o-linear-gradient(white, #87D0ED); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #87D0ED); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #87D0ED); /* Standard syntax */
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

header li {
	list-style: none;
	display: inline;
}

.game {
	border-style: solid;
	background: -webkit-linear-gradient(#77BDD9, #87D0ED); /* For Safari */
	background: -o-linear-gradient(#77BDD9, #87D0ED); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#77BDD9, #87D0ED); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#77BDD9, #87D0ED); /* Standard syntax */
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.hand, .books {
	border-style: solid;
	border-width: 1px;
	background-color: #66AFCC;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	float: left;
}

.hand li {
	list-style: none;
	display: inline-block;
	text-indent: -45px;
}

.books {
	border-bottom-right-radius: 50px;
}

.books li {
	list-style: none;
	display: inline-block;
	text-indent: -60px;
}

.opponents {
	background-color: #66AFCC;
	text-align: center;
	padding-right: 10px;
	border-bottom-left-radius: 50px;
	border-style: solid;
	border-width: 1px;
	float: right;
}

.opponents li {
	list-style: none
}
/* after this is bad*/
#bad {
	clear: both;
	text-align: center;
}

.last-turn-results {
	float: left;
	padding-left: 100px;
}

.turn {
	float: right;
	padding-right: 100px;
}

.game:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    padding-bottom: 10px;
}