section.Subheader
	h1 You: Jeremy. Opponents: Stephen, Braxton, Kyle, Greg, and Eric.
section.Content
	section#Hand
		h3 Cards
		ul
			li: img src="cards/c2.png" alt="2 of clubs"
			li: img src="cards/dq.png" alt="queen of diamonds"
			li: img src="cards/sa.png" alt="ace of spades"
			li: img src="cards/hk.png" alt="king of hearts"
			li: img src="cards/d7.png" alt="7 of diamonds"
			li: img src="cards/c2.png" alt="2 of clubs"
			li: img src="cards/dq.png" alt="queen of diamonds"
			li: img src="cards/sa.png" alt="ace of spades"
			li: img src="cards/hk.png" alt="king of hearts"
			li: img src="cards/d7.png" alt="7 of diamonds"
			li: img src="cards/c2.png" alt="2 of clubs"
			li: img src="cards/dq.png" alt="queen of diamonds"
			li: img src="cards/sa.png" alt="ace of spades"
			li: img src="cards/hk.png" alt="king of hearts"
			li: img src="cards/d7.png" alt="7 of diamonds"

	section#Books
		h3 Books
		ul
			li: img src="cards/ck.png" alt="kings"
			li: img src="cards/h4.png" alt="4's"

	section#Interface
			h3 What are you going to do?
			form  
				label Ask
				select name="players"
					option value="Stephen" Stephen
					option value="Braxton" Braxton
					option value="Kyle" Kyle
					option value="Greg" Greg
					option value="Eric" Eric
				label for
				select name="cards"
					option value="c2"2 of Clubs
					option value="dq" Queen of Diamonds
					option value="sa" Ace of Spades
					option value="hk" King of Hearts
					option value="d7" 7 of Diamonds
				input type="submit" value="Submit"	

	section#Actions

		section#Results
			h3 Last turn
			p Greg asked Stephen for 9's and got none. He went fishing. It is Eric's turn.
		section#Opponent_Info
			h3 Opponents Info
			ul
				li 
					span.Player_name Stephen 
					label 's cards: 
					span.Player_cards 3
					label . Books: 
					span.Player_books 5
					label 's
				li 
					span.Player_name Braxton
					label 's cards: 
					span.Player_cards 6
					label . Books: 
					span.Player_books
					label 's
				li 
					span.Player_name Kyle
					label 's cards: 
					span.Player_cards 3
					label . Books: 
					span.Player_books 6
					label 's
				li 
					span.Player_name Greg
					label 's cards: 
					span.Player_cards 2
					label . Books: 
					span.Player_books 8
					label 's
				li 
					span.Player_name Eric
					label 's cards: 
					span.Player_cards 8
					label . Books: 
					span.Player_books
					label 's