@media screen and  (max-width: 940px)
	.Content
		.Rules
			-moz-column:
				count: 2
				gap: 50%

			-webkit-column:
				count: 2
				gap: 50%
		#Hand, #Books, #Interface
			width: 50%
		#Interface
			margin: 0px auto
			display: inline

@media screen and  (max-width: 650px)
	.Content
		.Rules
			-moz-column:
				count: 1
				gap: 100%
			-webkit-column:
				count: 1
				gap: 100%

		#Hand, #Books, #Interface, #Results, #Opponent_Info
			width: 100%