$total-cols: 3

body
	background-image: url('../../cards/water.jpeg')
	background-repeat: repeat

header
	opacity: 0.8
	text-align: center
	border-style: solid
	border-top-left-radius: 50px
	border-top-right-radius: 50px
	background: -webkit-linear-gradient(white, #87D0ED)
	background: -o-linear-gradient(white, #87D0ED)
	background: -moz-linear-gradient(white, #87D0ED)
	background: linear-gradient(white, #87D0ED)
	ul
		padding-left: 0px
	li
		margin-left: 6px
		margin-right: 6px
		font-size: 20px
		list-style: none
		display: inline-block
		padding: 5px
		padding-right: 7px
		padding-left: 7px
		border-radius: 25px
		background-color: #87D0ED
		box-shadow: 1px 1px 5px black
		a 
			text-decoration: none
			color: black

.Subheader
	opacity: 0.8
	text-align: center
	padding: 1px 1px
	border-right: solid 
	border-left: solid
	background: -webkit-linear-gradient(#77BDD9, #87D0ED)
	background: -o-linear-gradient(#77BDD9, #87D0ED)
	background: -moz-linear-gradient(#77BDD9, #87D0ED)
	background: linear-gradient(#77BDD9, #87D0ED)

.Content
	opacity: 0.8
	border-style: solid
	border-top: none
	padding: 1px
	background: -webkit-linear-gradient(#87D0ED, #77BDD9)
	background: -o-linear-gradient(#87D0ED, #77BDD9)
	background: -moz-linear-gradient(#87D0ED, #77BDD9)
	background: linear-gradient(#87D0ED, #77BDD9)
	border-bottom-left-radius: 50px
	border-bottom-right-radius: 50px
	.Rules
		margin-left: auto
		max-width: 1368px
		margin-right: auto
		padding: 10px
		margin-top: 10px
		-moz-column-count: $total-cols
		-moz-column-gap: 33%
		-webkit-column-count: $total-cols
		-webkit-column-gap : 33%
		h4
			text-align: center
		div
			text-align: center
			a
				color: black
	.About
		width: 50%
		margin-left: auto
		margin-right: auto
		text-align: center
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
		padding-bottom: 10px

#Hand, #Books, #Interface
	display: inline-block
	width: 33%
	text-align: center
	vertical-align: top

#Hand li
	list-style: none
	display: inline-block
	text-indent: -35px

#Books
	border-bottom-right-radius: 50px
	li
		list-style: none
		display: inline-block
		text-indent: -45px

#Actions
	text-align: center
	#Results, #Opponent_Info
		display: inline-block
		width: 50%
		vertical-align: top
	#Opponent_Info
	ul 
		padding-left: 0px
	li
		list-style: none


.Player_name, .Player_cards, .Player_books
	font-family: fantasy

footer
	text-align: center
	a
		text-decoration: none
		color: black
@import media_query_fish