body
	background-image: url('../../cards/water.jpeg')
	background-repeat: repeat

header
	opacity: 0.8
	text-align: center
	border-style: solid
	border-top-left-radius: 50px
	border-top-right-radius: 50px
	background: -webkit-linear-gradient(white, #87D0ED)
	background: -o-linear-gradient(white, #87D0ED)
	background: -moz-linear-gradient(white, #87D0ED)
	background: linear-gradient(white, #87D0ED)
	li
		margin-left: 6px
		margin-right: 6px
		font-size: 20px
		list-style: none
		display: inline
		padding: 5px
		padding-right: 7px
		padding-left: 7px
		border-radius: 25px
		background-color: #87D0ED
		box-shadow: 1px 1px 5px black
		a 
			text-decoration: none
			color: black

.Subheader
	opacity: 0.8
	text-align: center
	border-right: solid 
	border-left: solid
	border-top: solid 1px
	border-bottom: solid 1px
	background: -webkit-linear-gradient(#77BDD9, #87D0ED)
	background: -o-linear-gradient(#77BDD9, #87D0ED)
	background: -moz-linear-gradient(#77BDD9, #87D0ED)
	background: linear-gradient(#77BDD9, #87D0ED)

.Content
	opacity: 0.8
	border-style: solid
	background: -webkit-linear-gradient(#77BDD9, #87D0ED)
	background: -o-linear-gradient(#77BDD9, #87D0ED)
	background: -moz-linear-gradient(#77BDD9, #87D0ED)
	background: linear-gradient(#77BDD9, #87D0ED)
	border-bottom-left-radius: 50px
	border-bottom-right-radius: 50px
	.Rules
		width: 400px
		margin-left: auto
		margin-right: auto
		border-radius: 50px
		padding: 10px
		margin-top: 10px
		background-color: #FFF2C7
		box-shadow: 1px 1px 5px black
		h4
			text-align: center
		div
			text-align: center
			a
				color: black
	.About
		width: 400px
		margin-left: auto
		margin-right: auto
		border-radius: 50px
		padding: 10px
		margin-top: 10px
		background-color: #FFF2C7
		box-shadow: 1px 1px 5px black
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
		padding-bottom: 10px

#Hand, #Pairs
	border-style: solid
	border-width: 1px
	background-color: #66AFCC
	padding-left: 50px
	padding-right: 50px
	text-align: center
	float: left

#Opponent_Info
	background-color: #66AFCC
	text-align: center
	padding-right: 10px
	border-bottom-left-radius: 50px
	border-style: solid
	border-width: 1px
	float: right
	li
		list-style: none

#Hand li
	list-style: none
	display: inline-block
	text-indent: -45px

#Pairs
	border-bottom-right-radius: 50px
	li
		list-style: none
		display: inline-block

#Actions
	clear: both
	text-align: center
	#Results
		padding-left: 100px
		float: left
	#Interface
		padding-right: 100px
		float: right

.Player_name, .Player_cards, .Player_books
	font-family: fantasy

footer
	text-align: center
	a
		text-decoration: none
		color: black